<!-- Contribute Section -->
<section id="contribute">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">{% include translate.html key='contribute' %}</h2>
                <h3 class="section-subheading text-muted">{% include translate.html key='contribute-desc' %}</h3>
            </div>
        </div>
        <div class="row">
            <!-- Formulario de inscripción -->
            <div class="col-md-6">
                <img src="logos/regata_solar_logo.png" width=200 align="center" />
                <h4 class="service-heading">{% include translate.html key='inscripcion' %}</h4>
                <form id="fs-frm" name="Inscripción para competir en la I Regata Solar de Balears" accept-charset="utf-8" action="https://formspree.io/f/xeqwqzel" method="POST">
                  <fieldset id="fs-frm-inputs">
                     <select name="categoría:" required="">
                        <option value="" selected="" disabled="">Categoría a la que se inscribe</option>
                        <option value="Open">Open. Diseño y construcción libre</option>
                        <option value="Kit">Kit. Componentes facilitados por la organización (200€ depósito)</option>
                    </select>
                    <br>
                    <label for="forull-name">Nombre</label>
                    <input type="text" name="nombre" id="nombre" placeholder="del participante o representate" required="">
                    <label for="forull-surname">Apellidos</label>
                    <input type="text" name="apellidos" id="nombre" placeholder="del participante o representate" required="">
                    <br>
                    <label for="forull-name">Nombre del equipo o alias</label>
                    <input type="text" name="equipo" id="nombre" placeholder="equipo, colegio, instituto" required="">
                    <br>
                    <label for="forull-name">Número de participantes</label>
                    <input type="number" name="participantes" id="participantes" placeholder="Nº de participantes del equipo" required="">
                    <br>
                    <label for="email-address">Email</label>
                    <input type="email" name="email" id="email" placeholder="email@domain.tld" required="">       
                    <br>
                    <label for="telefono">Teléfono</label>
                    <input type="telephone" name="telefono" id="telefono" placeholder="Teléfono" required="">       
                    <br>
                    <label for="telefono">Dirección</label>
                    <fieldset class="direccion">
                      <input type="text" name="localidad" placeholder="Localidad" required="">
                      <input type="text" name="codigo-postal" placeholder="Código postal" required="">       
                    </fieldset>
                    <br>
                    <label for="cuota">Cuota de inscripción:</label>
                    <br>
                    <select name="pago_cuota" required="">
                        <option value="" selected="" disabled="">¿He realizado el pago de inscripción?</option>
                        <option value="SI30">Si. 30€ categoría Open</option>
                        <option value="SI200">Si. 200€ categoría Kit</option>
                        <option value="NO">No</option>
                    </select>
                    <h3 class="section-subheading text-muted">{% include translate.html key='cuota-desc' %}</h3>
                    <label for="Autorizaciones">Autorizaciones:</label>
                    <br>
                    <select name="acepta_bases" required="">
                        <option value="" selected="" disabled="">¿He leído y acepto las bases del concurso?</option>
                        <option value="SI">Si</option>
                        <option value="NO">No</option>
                    </select>
                    <br>
                    <a href="https://github.com/Makespace-Mallorca/regatasolarbalears.github.io/raw/main/doc/Regata%20Solar%20Illes%20Balears%20Bases.pdf">Descargar aquí las bases</a>
                    <br>
                    <br>
                    <select name="acepta_fotos" required="">
                        <option value="" selected="" disabled="">¿Autorizo la toma de fotografías y videos?</option>
                        <option value="SI">Si</option>
                        <option value="NO">No</option>
                    </select>
                    <h3 class="section-subheading text-muted">{% include translate.html key='fotos-desc' %}</h3>
                    <select name="acepta_privacidad" required="">
                        <option value="" selected="" disabled="">¿Acepto la política de privacidad?</option>
                        <option value="SI">Si</option>
                        <option value="NO">No</option>
                    </select>
                    <h3 class="section-subheading text-muted">{% include translate.html key='privacidad-desc' %}</h3>
                    <label for="note">Comentarios</label>
                    <textarea rows="3" name="comentarios" id="comentarios" placeholder="Información adicional o comentarios"></textarea>
                    <input type="hidden" name="_subject" id="email-subject" value="Participante registrado">
                    <br>
                    <input type="submit" value="Enviar">
                    <label for="submit">Pulsando Enviar acepta la Política de Privacidad</label>
                    <a href="https://github.com/Makespace-Mallorca/regatasolarbalears.github.io/raw/main/doc/Regata%20Solar%20Illes%20Balears%20Proteccion%20Datos.pdf">Descargar aquí las políticas.</a>
                  </fieldset>
                </form>
            </div>
            <div class="text-center">
                <a href="https://github.com/Makespace-Mallorca/regatasolarbalears.github.io/raw/main/doc/Regata%20Solar%20Illes%20Balears%20Bases.pdf">
                  <img src="img/contribute/bases.png" width=200 align="center" />
                  <h4 class="service-heading">{% include translate.html key='bases' %}</h4>
                  <h5 class="section-subheading text-muted">{% include translate.html key='bases-desc' %}</h5>
                </a>
            </div>
            <div class="text-center">
                <a href="https://t.me/c/2015852564/1/1870">
                  <img src="img/contribute/Plano_RegatraSolarBalears.png" width=400 align="center" />
                  <h4 class="service-heading">{% include translate.html key='plano' %}</h4>
                  <h5 class="section-subheading text-muted">{% include translate.html key='plano-desc' %}</h5>
                </a>
            </div>            
        </div>
    </div>
</section>



