<!-- Services Section -->
<section id="services">
    <img src="img/intro/manifesto.png" width=200 align="right" />
    <div class="container">
        <div class="row text-center">
            <div class="col-md-4">
                <h4 class="service-heading">{% include translate.html key='manifesto' %}</h4>
                <p class="text-muted">{% include translate.html key='manifesto-desc' %}</p>
            </div>              
            <div class="col-md-4">
                <h4 class="service-heading">{% include translate.html key='connecting' %}</h4>
                <p class="text-muted">{% include translate.html key='connecting-desc' %}</p>
            </div>    
            <div class="col-md-4">
                <h4 class="service-heading">{% include translate.html key='security' %}</h4>
                <p class="text-muted">{% include translate.html key='security-desc' %}</p>
            </div>       
            <div class="col-md-4">
                <h4 class="service-heading">{% include translate.html key='monitoring' %}</h4>
                <p class="text-muted">{% include translate.html key='monitoring-desc' %}</p>
            </div>               
            <div class="col-md-4">
                <h4 class="service-heading">{% include translate.html key='interoperability' %}</h4>
                <p class="text-muted">{% include translate.html key='interoperability-desc' %}</p>
            </div>               
            <div class="col-md-4">
                <h4 class="service-heading">{% include translate.html key='free-software' %}</h4>
                <p class="text-muted">{% include translate.html key='free-software-desc' %}</p>
            </div>
            <div class="col-md-4">
                <h4 class="service-heading">{% include translate.html key='open-hardware' %}</h4>
                <p class="text-muted">{% include translate.html key='open-hardware-desc' %}</p>
            </div>
            <div class="col-md-4">
                <h4 class="service-heading">{% include translate.html key='technological-heritage' %}</h4>
                <p class="text-muted">{% include translate.html key='technological-heritage-desc' %}</p>
            </div>
        </div>
    </div>
</section>