<!-- Services Section -->
<section id="services">
    <div class="container">
        <div class="row text-center">
            <div class="col-md-4">
                <h4 class="service-heading">{% include translate.html key='manifesto' %}</h4>
                <p class="text-muted">{% include translate.html key='manifesto-desc' %}</p>
            </div>              
            <div class="col-md-4">
                <h4 class="service-heading">{% include translate.html key='que_es' %}</h4>
                <p class="text-muted">{% include translate.html key='que_es-desc' %}</p>
            </div>    
            <div class="col-md-4">
                <h4 class="service-heading">{% include translate.html key='para_quien' %}</h4>
                <p class="text-muted">{% include translate.html key='para_quien-desc' %}</p>
            </div>       
            <div class="col-md-4">
                <h4 class="service-heading">{% include translate.html key='objetivos' %}</h4>
                <p class="text-muted">{% include translate.html key='objetivos-desc' %}</p>
            </div>
        </div>
    <img src="img/intro/regata_solar_2030STEM.png" width=400 align="right" />
    </div>
</section>